src/main/resources/cv24.tp1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://univ.fr/cv24" xmlns="http://univ.fr/cv24"
	elementFormDefault="qualified">

	<xs:element name="cv24">
		<xs:complexType>
			<xs:all>
				<xs:element ref="identite" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="objectif" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="prof" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="competences" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="divers" minOccurs="0" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="identite">
		<xs:annotation>
			<xs:documentation>Identification</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="genre" minOccurs="1" maxOccurs="1"
					type="genre">
					<xs:annotation>
						<xs:documentation>Genre</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nom" minOccurs="1" maxOccurs="1"
					type="String32maj">
					<xs:annotation>
						<xs:documentation>Nom</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="prenom" minOccurs="1" maxOccurs="1"
					type="String32">
					<xs:annotation>
						<xs:documentation>Prenom</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tel" minOccurs="0" maxOccurs="1"
					type="tel">
					<xs:annotation>
						<xs:documentation>Numéro de téléphone</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="mel" minOccurs="0" maxOccurs="1"
					type="mail">
					<xs:annotation>
						<xs:documentation>Adresse mail</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="objectif">
		<xs:annotation>
			<xs:documentation>Intitulé du poste recherché</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="String128">
					<xs:attribute name="statut" use="required">
						<xs:annotation>
							<xs:documentation>Type de contrat souhaité</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="stage" />
								<xs:enumeration value="emploi" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="prof">
		<xs:annotation>
			<xs:documentation>Expériences professionnelles</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="detail" minOccurs="1"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Detail expérience</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="datedeb" minOccurs="1" maxOccurs="1"
								type="xs:date">
								<xs:annotation>
									<xs:documentation>Date de début</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="datefin" minOccurs="0" maxOccurs="1"
								type="xs:date">
								<xs:annotation>
									<xs:documentation>Date de fin</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="titre" minOccurs="1" maxOccurs="1"
								type="String128">
								<xs:annotation>
									<xs:documentation>Intitulé du poste</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="competences">
		<xs:annotation>
			<xs:documentation>Liste des compétences</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="diplome" minOccurs="1" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Intitulé du diplome</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="date" minOccurs="1" maxOccurs="1"
								type="xs:date">
								<xs:annotation>
									<xs:documentation>Date d'obtention</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="institut" minOccurs="0"
								maxOccurs="1" type="String32" />
							<xs:element name="titre" minOccurs="1" maxOccurs="1"
								type="String32"/>
						</xs:sequence>
						<xs:attribute name="niveau" use="required">
							<xs:annotation>
								<xs:documentation>Niveau de qualification</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="3" />
									<xs:maxInclusive value="8" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="certif" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Certification</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="datedeb" minOccurs="1" maxOccurs="1"
								type="xs:date">
								<xs:annotation>
									<xs:documentation>Date de début</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="datefin" minOccurs="0" maxOccurs="1"
								type="xs:date">
								<xs:annotation>
									<xs:documentation>Date de Fin</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="titre" minOccurs="1" maxOccurs="1"
								type="String32">
								<xs:annotation>
									<xs:documentation>Intitulé de la certification
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="divers">
		<xs:annotation>
			<xs:documentation>Informations complémentaires</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lv" minOccurs="1" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Langue vivante</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="lvattributs" />
					</xs:complexType>
				</xs:element>
				<xs:element name="autre" minOccurs="0" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>Informations complémentaires</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="autreattributs" />
					</xs:complexType>
					<xs:key name="certCLES">
						<xs:selector xpath="lv"/>
						<xs:field xpath="@cert"/>
					</xs:key>
					<xs:keyref name="CLES" refer="certCLES">
					    <xs:selector xpath="lv"/>
					    <xs:field xpath="@nivs"/>
					</xs:keyref>
					<xs:key name="certTOEIC">
						<xs:selector xpath="lv"/>
						<xs:field xpath="@cert"/>
					</xs:key>
					<xs:keyref name="TOEIC" refer="certTOEIC">
					    <xs:selector xpath="lv"/>
					    <xs:field xpath="@nivi"/>
					</xs:keyref>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="genre">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M." />
			<xs:enumeration value="Mme" />
			<xs:enumeration value="Mrs" />
			<xs:enumeration value="Miss" />
			<xs:enumeration value="Mr" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String128">
		<xs:restriction base="xs:string">
    		<xs:maxLength value="128"/>
    		<xs:pattern value="[A-Za-z0-9.,:;~@()\-_'&amp;#!?$*= ]*"/>
  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String32">
		<xs:restriction base="xs:string">
    		<xs:maxLength value="32"/>
    		<xs:pattern value="[A-Za-z\-' ]*"/>
  </xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="String32maj">
		<xs:restriction base="xs:string">
    		<xs:pattern value="[A-Z\-' ]*"/>
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tel">
		<xs:restriction base="xs:string">
    	<xs:pattern value="\d{10}"/>
        <xs:pattern value="\d{2}(\s\d{2}){4}"/>
        <xs:pattern value="\d(\s\d{3}){3}"/>
        <xs:pattern value="\+33\s\d{1,2}\s\d{2}(\s?\d{2}){3}"/>
  		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="mail">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]+([._-][A-Za-z0-9]+)*@[A-Za-z0-9]+([.-][A-Za-z0-9]+)*\.[A-Za-z]{2,3}"/>
	</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="cert">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAT" />
			<xs:enumeration value="CLES" />
			<xs:enumeration value="TOEIC" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nivs">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A1" />
			<xs:enumeration value="A2" />
			<xs:enumeration value="B1" />
			<xs:enumeration value="B2" />
			<xs:enumeration value="C1" />
			<xs:enumeration value="C2" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="nivi">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="10" />
			<xs:maxInclusive value="990" />
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="lvattributs">
		<xs:attribute name="lang" use="required">
			<xs:annotation>
				<xs:documentation>Nom de la langue</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z]{2}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="cert" use="required" type="cert">
			<xs:annotation>
				<xs:documentation>Certification</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nivs" use="optional" type="nivs">
			<xs:annotation>
				<xs:documentation>niveau de maitrise CLES</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nivi" use="optional" type="nivi">
			<xs:annotation>
				<xs:documentation>Niveau de maitrise TOEIC</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="autreattributs">
		<xs:attribute name="titre" use="required" type="String32">
			<xs:annotation>
				<xs:documentation>Titre</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="comment" use="optional"
			type="String128">
			<xs:annotation>
				<xs:documentation>Commentaire</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>


</xs:schema>